@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
body{width:1000px;}
h1{font: small-caps 300 2em/1.5em 'Open Sans', sans-serif; text-align: center;margin: 20px auto 0;padding: 0;}
.land{ fill: #ccc; }
.border-states{
	stroke: #fff;
	fill: none;
	stroke-linejoin: round;
	stroke-linecap: round;
}
.states{fill: #aec7e8;}
.bubble{fill:red; fill-opacity: .5;}
